body{
    margin: 0;
    font-family: arial;
}

.container{
    width: 98%;
    margin: auto;
}
header{
    background-color: #1a4a5a;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.conteudo{
    display: flex;
}

.menu-lateral{
    width: 20%;
}
main{
    width: 70%;
    display: flex;
}
footer {
    text-align: center;
}
header, main, footer {
    padding: 20px;
}

section{
    background-color: cornflowerblue;
    padding: 10px;
    flex: 4;
    text-align: justify;
    display: flex;
}
aside{
    background-color: gray;
    padding: 10px;
    flex: 1;
    margin-left: 20px;
}
#logo{
    width: 2.5rem;
    height: 2.5rem;
}
img{
    margin: 0.5rem;
    width: 10rem;
    height: 10rem;
}
p{
    width: 100%;
    margin-left: 1rem;
    border-radius: 1rem;
}
#texto{
    flex-direction: column;
}

ul{
    text-decoration: none;
    list-style: none;
}
.menu-lateral a{
    width: 80%;
    border-radius: 1rem;
    background-color: rgb(40, 126, 255);
    padding: 1.5rem;
    align-content: space-between;
    margin-bottom: 1rem;
    color: white;
    display: block;
    text-decoration: none;
}

li a:hover{
    width: 80%;
    border-radius: 1rem;
    background-color: rgb(40, 126, 255);
    align-content: space-between;

    color: rgb(40, 126, 255);
    background-color: white;
    border: 2px solid rgb(40, 126, 255);
}

.menu-lateral ul li{
    text-decoration: none;
}

#texto h2{
    color: white;
}

#fname{
    width: 96.3%;
}
#lname{
    padding: 1.5rem;
}
#form{
    margin-left: 1rem;
}